

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cls{
    width: 100%;
    min-height: 100vh;
    background-color: #0E1413;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.main-content{
    margin-left: 400px;
    padding-top: 100px;
}


.account-main{
    margin-left: 150px;
}

.next-btn .btn{
    margin-top: 120px;
    margin-left: 190px;
}

.title{
    margin-left: 140px;
}

.main-area{

    margin-left: 20px;
    margin-top: 50px;
}






.image{
    margin-left: 140px;
    margin-top: 80px;
}

.image .img{
    width: 150px;
    height: 150px;
}



.upload-area{

    margin-top: 50px;
}

.input-area{

    margin-top: 80px;
    
}

.step-counter{

    margin-top: 50px;
    margin-left: 210px;
}

.input-areas{
    margin-top: 60px;
    margin-left: 60px;
}

.input-areas h2{
    margin-bottom: 20px;
}

.input-areas .nickname-area{
    margin-top: 30px;
}

.add-btn-2{

    margin-top: 50px;
    margin-left: 110px;
}

.submit-btn{
    margin-top: 100px;
    margin-left: 160px;
}

.tasks-done{

    margin-top: 100px;
    margin-left: 80px;
}


@media (max-width: 600px){

    .main-cls{
        width: auto;
        min-height: 120vh;
        
        
    }
    


    .main-content{
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 2%;

        text-align: center;
        font-size: 13px;
        
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .image{
        flex-direction: column;
        margin: 100px auto;
        width: fit-content;
        
        
    }

    .image .img{
        flex-direction: column;
        
    }

    .upload-area{
        flex-direction: column;
        
        
    }


    .step-title{
        text-align: left;
    }
    

    .upload-area .main-area{
        width: auto;
    }

    .title{
        margin: 0%;
    }

    .steps{
        width: 320px;
        
    }

    .input-area input{
        font-size: 10px;
        
    }
    

    .account-main{
        margin: 0%;
    }

    .step-counter{
        margin: auto;
    }

    .input-areas{
        flex-direction: column;
        margin-left: 0%;
    }

    .add-btn-2{
        margin-left: 0%;
    }

    .tasks-done{
        flex-direction: column-reverse;
        margin-left: 0%;
    }

    .step-counter{
        margin-top: 10%;
    }

    .submit-btn{
        margin-left: 0%;
    }
    
}