*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.chat-main{


    width: 100%;
    min-height: 100vh;
    background-color: #0E1413;
    color: #fff;
}



.content-area{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chat-active{
    margin-top: 50px;
    margin-left: 20px;
}

.chat-area{
    margin-left: 100px;
    width: 65%;
}

.chat-area h1{
    margin-top: 20px;
    font-size: 19px;
}


.chat-input{
    margin-top: 10px;
}

.chat-input .input{
    width: 550px;
}

.chat-list{
    
    width: 40%;
    height: 100vh;
    background-color: #506965;
    right: 200px;
}

.chat-list div{
    margin-bottom: 35px;
}

.chat-friends{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.names{
    margin-left: 50px;
    
}

.pro-image-chat{
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.msgs{
    display: inline-block;
    padding-top: 35px;
}

.msg-alert{
    margin-left: 50px;
    font-size: 13px;
}



.chat-btns-areas{
    display: flex;
    align-items: flex-end;
}

.send-btn{
    margin-left: 30px;
}

.chat-friends{
    cursor: pointer;
}

.msg-area{
    

    margin-top: 70px;
    padding:4px;
    height: 640px;
    width: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.msg-area::-webkit-scrollbar{
    display: none;
}

.messages{
  display: inline-block;
  word-wrap: break-word; 
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}



.incoming{
   
   
    text-align: left;
    color: #fff;
}
  
.outgoing{
   
    
    color: #fff;
    text-align: right;
    
    
}

.cht-intro{
    
    width: 65%;
    margin-left: 100px;
    text-align: center;
}

.cht-intro-img{
    margin-left: 150px;
}

.search-bar{
    margin-top: 50px;
}


/* iphone 14 pro and 12, 11*/
@media (width: 430px){


    .chat-list{
       position: fixed;
       background-color: #506965;
       height: 100vh;
       width: 300px;
       top: 0;
       left: -300px;
       text-align: left;
       z-index: 2;
       transition: 1s;
        
    }

    .cht-intro{
        flex-direction: column;
        text-align: center;
        margin: 0%;
        width: 100%;
    }

    .cht-intro-img{
        margin: 0%;
    }

    .msg-area{
        flex-direction: column-reverse;
    }

    .chat-area{
        flex-direction: column-reverse;
        margin-left: 6px;
        width: 44%;
        
    }

    .msg-area{
        height: 680px;
        width: 400px;
        font-size: 12px;
        
    }

    .chat-input .input{

        width: 320px;
        margin-left: 20px;
        
    }

    .chat-area h1{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }

    .send-btn{
        margin-left: 10px;
    }
}



@media screen and (max-width: 400px){
    .chat-list{
        position: fixed;
        background-color: #506965;
        height: 100vh;
        width: 300px;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
         
     }
 
     .cht-intro{
         flex-direction: column;
         text-align: center;
         margin: 0%;
         width: 100%;
     }
 
     .cht-intro-img{
         margin: 0%;
     }
 
     .msg-area{
         flex-direction: column-reverse;
         
     }
 
     .chat-area{
         flex-direction: column-reverse;
         margin-left: 0%;
         width: 50%;
         
     }
 
     .msg-area{
         height: 550px;
         width: 350px;
         font-size: 14px;
         
     }
 
     .chat-input .input{
 
         width: 300px;
         margin-left: 7px;
         
     }
 
     .chat-area h1{
         margin-top: 10px;
         text-align: center;
         font-size: 18px;
     }
 
     .send-btn{
         margin-left: 10px;
     }
}


/* for iphone 5s */
@media (width: 320px){
    .chat-list{
        position: fixed;
        background-color: #506965;
        height: 100vh;
        width: 300px;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
         
     }
 
     .cht-intro{
         flex-direction: column;
         text-align: center;
         margin: 0%;
         width: 100%;
     }
 
     .cht-intro-img{
         margin: 0%;
     }
 
     .msg-area{
         flex-direction: column-reverse;
         
     }
 
     .chat-area{
         flex-direction: column-reverse;
         margin-left: 0%;
         width: 46%;
         
     }
 
     .msg-area{
         height: 550px;
         width: 300px;
         font-size: 12px;
         
     }
 
     .chat-input .input{
 
         width: 250px;
         margin-left: 7px;
         
     }
 
     .chat-area h1{
         margin-top: 10px;
         text-align: center;
         font-size: 14px;
     }
 
     .send-btn{
         margin-left: 10px;
     }
}


/* for iphone 12 pro*/
@media (width: 390px){


    .chat-list{
       position: fixed;
       background-color: #506965;
       height: 100vh;
       width: 300px;
       top: 0;
       left: -300px;
       text-align: left;
       z-index: 2;
       transition: 1s;
        
    }

    .cht-intro{
        flex-direction: column;
        text-align: center;
        margin: 0%;
        width: 100%;
    }

    .cht-intro-img{
        margin: 0%;
    }

    .msg-area{
        flex-direction: column-reverse;
    }

    .chat-area{
        flex-direction: column-reverse;
        margin-left: 0px;
        width: 47%;
        
    }

    .msg-area{
        height: 600px;
        width: 375px;
        font-size: 12px;
        
    }

    .chat-input .input{

        width: 300px;
        margin-left: 20px;
        
    }

    .chat-area h1{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }

    .send-btn{
        margin-left: 10px;
    }
}


/* iphone xr, 7, 8 plus*/

@media (width: 414px){


    .chat-list{
       position: fixed;
       background-color: #506965;
       height: 100vh;
       width: 300px;
       top: 0;
       left: -300px;
       text-align: left;
       z-index: 2;
       transition: 1s;
        
    }

    .cht-intro{
        flex-direction: column;
        text-align: center;
        margin: 0%;
        width: 100%;
    }

    .cht-intro-img{
        margin: 0%;
    }

    .msg-area{
        flex-direction: column-reverse;
    }

    .chat-area{
        flex-direction: column-reverse;
        margin-left: 6px;
        width: 44%;
        
    }

    .msg-area{
        height: 590px;
        width: 380px;
        font-size: 12px;
        
    }

    .chat-input .input{

        width: 310px;
        margin-left: 20px;
        
    }

    .chat-area h1{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }

    .send-btn{
        margin-left: 10px;
    }
}

/*iphone x*/


@media (width: 375px){


    .chat-list{
       position: fixed;
       background-color: #506965;
       height: 100vh;
       width: 300px;
       top: 0;
       left: -300px;
       text-align: left;
       z-index: 2;
       transition: 1s;
        
    }

    .cht-intro{
        flex-direction: column;
        text-align: center;
        margin: 0%;
        width: 100%;
    }

    .cht-intro-img{
        margin: 0%;
    }

    .msg-area{
        flex-direction: column-reverse;
    }

    .chat-area{
        flex-direction: column-reverse;
        margin-left: 6px;
        width: 50%;
        
    }

    .msg-area{
        height: 550px;
        width: 347px;
        font-size: 12px;
        
    }

    .chat-input .input{

        width: 275px;
        margin-left: 20px;
        
    }

    .chat-area h1{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }

    .send-btn{
        margin-left: 10px;
    }
}


/* galaxy s8*/
@media (width: 360px){
    .chat-list{
        position: fixed;
        background-color: #506965;
        height: 100vh;
        width: 300px;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
         
     }
 
     .cht-intro{
         flex-direction: column;
         text-align: center;
         margin: 0%;
         width: 100%;
     }
 
     .cht-intro-img{
         margin: 0%;
     }
 
     .msg-area{
         flex-direction: column-reverse;
         
     }
 
     .chat-area{
         flex-direction: column-reverse;
         margin-left: 0%;
         width: 46%;
         
     }
 
     .msg-area{
         height: 550px;
         width: 340px;
         font-size: 12px;
         
     }
 
     .chat-input .input{
 
         width: 290px;
         margin-left: 7px;
         
     }
 
     .chat-area h1{
         margin-top: 10px;
         text-align: center;
         font-size: 14px;
     }
 
     .send-btn{
         margin-left: 10px;
     }
}


@media (width: 412px){
    .chat-list{
        position: fixed;
        background-color: #506965;
        height: 100vh;
        width: 300px;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
         
     }
 
     .cht-intro{
         flex-direction: column;
         text-align: center;
         margin: 0%;
         width: 100%;
     }
 
     .cht-intro-img{
         margin: 0%;
     }
 
     .msg-area{
         flex-direction: column-reverse;
         text-align: center;
         
     }
 
     .chat-area{
         flex-direction: column-reverse;
         margin-left: 0%;
         width: 40%;
         
         
         
     }
 
     .msg-area{
         height: 650px;
         width: 390px;
         font-size: 12px;
         
     }
 
     .chat-input .input{
 
         width: 300px;
         margin-left: 23px;
         
     }
 
     .chat-area h1{
         margin-top: 10px;
         text-align: center;
         font-size: 14px;
     }
 
     .send-btn{
         margin-left: 10px;
     }
}
