

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.profile-main{

    width: 100%;
    min-height: 100vh;
    background-color: #0E1413;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.pro-content-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.friends-list{
    width: 40%;
    height: 100vh;
    background-color: #506965;
    overflow-x: hidden;
    overflow-y: auto;
}

.friends-list .list{
    margin-top: 50px;
    margin-left: 20px;
}

.list div{
    margin-bottom: 50px;
    cursor: pointer;
    list-style: none;
    margin-top: 80px;
    margin-left: 30px;
}



.profile-details{

    
    margin-top: 100px;
    margin-right: 250px;
    text-align: center;
}

.btn-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.chat-btn{
    margin-left: 30px;
}

.name{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.pro-info{
    text-align: center;
}

.pro-title{
    font-size: 30px;
}

.pro-image{
    margin-top: 40px;
}

.view-book-btn{

    margin-left: 250px;
}


.pro-image-1{
    border-radius: 20px;
    width: 70px;
    height: 70px;
    
}

.usernames{
    margin-left: 100px;
}

.pro-image-2{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    border-radius: 30px;
}


.user-list{

    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
}


.your-profile{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.your-profile Button{
    margin-left: 200px;
}

.your-profile img{
    border-radius: 35px;
    width: 70px;
    height: 70px;
    margin-right: 30px;
}


.intro{
    text-align: center;
    margin-top: 150px;
    margin-right: 130px;
}


.intro-content h1{
    font-size: 25px;
}

.search-bar .search{
    width: 300px;
}

.search-btn{
    margin-left: 30px;
}

@media (max-width: 600px){
    .friends-list{
        position: fixed;
        background-color: #506965;
        height: 100vh;
        width: 300px;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }

    

    .intro{
        margin-right: 0;
        flex-direction: column-reverse;
    }

    .intro-content h1{
        font-size: 22px;
        flex-direction: column;
    }

    

    .intro-content h3{
        font-size: 13px;
        flex-direction: column;
    }

    .menu-icon{
        margin-top: 20px;
        margin-left: 20px;
        cursor: pointer;
    }

    .your-profile h1{
        font-size: 15px;
    }

    .your-profile Button{
        font-size: 15px;
        margin-left: 50px;
    }

    .search-bar{
        display: flex;
    }

    .search-bar .search{
        width: 220px;
        height: 30px;
        font-size: 14px;
        margin: 0;
    }

    .search-bar Button{
        width: 60px;
        height: 30px;
        font-size: 13px;
        margin-right: 10px;
    }

    .list div{
        margin-left: 0%;
    }

    .usernames{
        margin-left: 40px;
        font-size: 13px;
    }

    .pro-image-1{
        width: 60px;
        height: 60px;
    }

    

    

    .pro-main{
        width: 97%;
        height: 100vh;
        
    }

    .pro-image-2{
        width: 147px;
        height: 130px;
        
    }

    .your-profile img{
        border-radius: 35px;
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }

    

    .profile-details{
        flex-direction: column;
        margin: auto;
        width: 46%;
        padding-top: 50px;
        
    }

    .pro-title{
        font-size: 16px;
    }

    .menu-icon-1{
        margin: auto;
    }

    

    

    
}


@media (min-width: 1024px) and (max-width: 1366px) {
    .profile-main {
        font-size: 18px; 
    }

    .friends-list {
        width: 41%; 
        font-size: 15px;
    }

    .profile-details {
        margin-right: 260px; 
        margin-top: 160px;
    }

    .btn-section {
        margin-top: 30px;
    }

    .name {
        font-size: 20px; 
    }

    

    .pro-title {
        font-size: 25px; 
    }

    .pro-image-1 {
        width: 60px;
        height: 60px; 

    }
    .usernames {
        margin-left: 70px; 
    }

    .pro-image-2 {
        width: 150px; 
        height: 150px; 
        margin-left: 26px; 
    }

    .your-profile {
        font-size: 22px; 

    }
    .your-profile Button {
        margin-left: 150px; 

    }
    .your-profile img {
        width: 60px; 
        height: 60px; 
        margin-right: 20px; 
    }

    .intro {
        margin-right: 100px; 
    }

    

    .search-bar .search {
        width: 240px; 
        
    }

    .search-btn {
        margin-right: 5px; 
    }

   
}