

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cls{
    width: 100%;
    min-height: 100vh;
    background-color: #0E1413;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.main-content{
    margin-left: 400px;
    padding-top: 100px;
}


.account-main{
    margin-left: 150px;
}

.next-btn .btn{
    margin-top: 120px;
    margin-left: 190px;
}

.title{
    margin-left: 140px;
}

.main-area{

    margin-left: 20px;
    margin-top: 50px;
}






.image{
    margin-left: 140px;
    margin-top: 80px;
}

.image .img{
    width: 150px;
    height: 150px;
}



.upload-area{

    margin-top: 50px;
}

.input-area{

    margin-top: 80px;
    
}

.step-counter{

    margin-top: 50px;
    margin-left: 210px;
}

.input-areas{
    margin-top: 60px;
    margin-left: 60px;
}

.input-areas h2{
    margin-bottom: 20px;
}

.input-areas .nickname-area{
    margin-top: 30px;
}

.add-btn-2{

    margin-top: 50px;
    margin-left: 110px;
}

.submit-btn{
    margin-top: 100px;
    margin-left: 160px;
}

.tasks-done{

    margin-top: 100px;
    margin-left: 80px;
}

/*media query for mobile devices*/
@media (max-width: 600px){

    .main-cls{
        width: auto;
        min-height: 120vh;
        
        
    }
    


    .main-content{
        padding-top: 10%;
        margin-left: 0%;
        margin-right: 2%;

        text-align: center;
        font-size: 13px;
        
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .image{
        flex-direction: column;
        margin: 100px auto;
        width: fit-content;
        
        
    }

    .image .img{
        flex-direction: column;
        
    }

    .upload-area{
        flex-direction: column;
        
        
    }

    .username-area Input{
        width: 250px;
    }

    .nickname-area Input{
        width: 250px;
    }


    .step-title{
        text-align: left;
    }
    

    .upload-area .main-area{
        width: auto;
    }

    .title{
        margin: 0%;
    }

    .steps{
        width: 320px;
        
    }

    .input-area input{
        font-size: 10px;
        
    }
    

    .account-main{
        margin: 0%;
    }

    .step-counter{
        margin: auto;
    }

    .input-areas{
        flex-direction: column;
        margin-left: 0%;
    }

    .add-btn-2{
        margin-left: 0%;
    }

    .tasks-done{
        flex-direction: column-reverse;
        margin-left: 0%;
    }

    .step-counter{
        margin-top: 10%;
    }

    .submit-btn{
        margin-left: 0%;
    }
    
}


/* media query for laptops */
@media (min-width: 1024px) {
    .main-cls {
        width: 100%;
        min-height: 100vh;
        background-color: #0E1413;
        font-family: "Poppins", sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .main-content {
        width: 60%;
        padding: 5%;
        margin-left: 1%;
        margin-top: 5%;
        
    }

    .account-main {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .next-btn .btn {
        width: 20%;
        margin-top: 5%;
        margin-left: 15%;
    }

    .title {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .main-area {
        width: 96%;
        margin-left: 2%;
        
        text-align: center;
    }

    .image {
        width:40%;
        margin-left: 38%;
        margin-top: 4%;
        
    }

    .image Image {
        width: 100%; 
        height: 210px;
        
    }

    .upload-area {
        width: 96%;
        margin-top: 2%;
        margin-left: 20%;
        
    }

    .input-area {
        width: 90%;
        margin-top: 8%;
        text-align: center;
        margin-left: 4%;
    }

    .step-counter {
        width: 20%;
        margin-top: 8%;
        margin-left: 40%;
        text-align: center;
    }

    .input-areas {
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        text-align: center;
    }

    .input-areas h2 {
        margin-bottom: 5%;
    }

    .input-areas .nickname-area {
        margin-top: 8%;
    }

    .add-btn-2 {
        width: 20%;
        margin-top: 12%;
        margin-left: 40%;
    }

    .submit-btn {
        width: 20%;
        margin-top: 20%;
        margin-left: 40%;
    }

    .tasks-done {
        width: 60%;
        margin-top: 10%;
        margin-left: 20%;
        text-align: center;
    }

    .step-title{
        text-align: left;
    }
}
